.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #020617;
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 24px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #1e293b;
  background: #0f172a;
  color: #fff;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #16a34a;
}