.navbar {
  background: #020617;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

.nav-links a {
  margin-left: 20px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: #1e293b;
}