@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@500;700&display=swap');


:root {
  --cyber-yellow: #fcee0a;
  --cyber-blue: #00f0ff;
  --cyber-pink: #ff003c;
  --bg-black: #050505;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

    background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
  }

.login-box {
  width: 100%;
  max-width: 400px;
  background: rgba(5, 5, 10, 0.95);
  padding: 3rem;
  border: 1px solid var(--cyber-blue);
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.2);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
}

.login-box::before {
  content: "USER_AUTHENTICATION_REQUIRED";
  position: absolute;
  top: -20px;
  left: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.7rem;
  color: var(--cyber-yellow);
}

.login-title {
  font-family: 'Orbitron', sans-serif;
  color: var(--cyber-yellow);
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.8rem;
}

.login-field {
  margin-bottom: 1.5rem;
}

.login-field label {
  display: block;
  color: var(--cyber-blue);
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-field input {
  width: 100%;
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-left: 4px solid var(--cyber-pink);
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  outline: none;
  transition: 0.3s;
}

.login-field input:focus {
  border-color: var(--cyber-yellow);
  box-shadow: 0 0 10px rgba(252, 238, 10, 0.3);
}

.login-btn {
  width: 100%;
  padding: 1rem;
  background: var(--cyber-yellow);
  color: #000;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
}

.login-btn:hover {
  background: var(--cyber-blue);
  transform: skewX(-5deg);
  box-shadow: 0 0 15px var(--cyber-blue);
}

.login-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 0.9rem;
  color: #666;
}

.login-footer a {
  color: var(--cyber-pink);
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

