@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@500;700&display=swap');

:root {
  --cyber-yellow: #fcee0a;
  --cyber-blue: #00f0ff;
  --cyber-pink: #ff003c;
  --bg-black: #050505;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  background-color: var(--bg-black);
  border-bottom: 2px solid var(--cyber-blue);
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 40px;
  font-family: 'Rajdhani', sans-serif;
}

.nav-logo a {
  font-family: 'Orbitron', sans-serif;
  color: var(--cyber-yellow);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 50px;
}


.nav-links a {
  text-decoration: none;
  color: var(--cyber-yellow);
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 1.4rem;
  transition: 0.3s;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 85% 100%, 0 100%);
}

.nav-links a:hover {
  background: var(--cyber-blue);
  color: #000;
  box-shadow: 0 0 10px var(--cyber-blue);
}

.logout-btn {
  background: var(--cyber-pink);
  color: #fff;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  padding: 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  transition: 0.3s;
}

.logout-btn:hover {
  background: #fff;
  color: var(--cyber-pink);
  box-shadow: 0 0 15px var(--cyber-pink);
}


body {
  margin: 0;
  padding-top: 70px;
}